name: Build Gushio

on:
  push:
    branches:
      - 'main'
      - 'feature/*'

  # Allows to run this workflow manually from the Actions tab
  workflow_dispatch:

permissions:
  id-token: write

jobs:
  build_and_test:
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
        node_version: [20, 22, 24]
    env:
      OS: ${{ matrix.os }}
      NODEJS: ${{ matrix.node_version }}
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node_version }}
      - name: Cache NPM packages
        uses: actions/cache@v4
        with:
          path: node_modules
          key: ${{ runner.os }}-${{ matrix.node_version }}-npm-${{ hashFiles('package.json') }}
          restore-keys: ${{ runner.os }}-${{ matrix.node_version }}-npm
      - name: Build and test
        run: |
          npm install
          npm test
          npm run lint
      - name: Track test coverage
        uses: codecov/codecov-action@v5
        with:
          use_oidc: true
          env_vars: OS,NODEJS
          fail_ci_if_error: false