name: Release Gushio

on:
  push:
    tags:
      - 'release/**'

permissions:
  id-token: write
  contents: read

jobs:
  build_and_release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v6
        with:
          registry-url: 'https://registry.npmjs.org'
          node-version: "24"
      - name: Cache NPM packages
        uses: actions/cache@v4
        with:
          path: node_modules
          key: ${{ runner.os }}-npm-${{ hashFiles('package.json') }}
          restore-keys: ${{ runner.os }}-npm
      - name: Build and test
        run: |
          npm ci
          npm test
      - name: Publish to NPM
        run: npm publish
